.header {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
}

.header-actions {
  display: flex;
  align-items: center;
}

.App {
  width: 90%;
  margin: auto;
  max-width: 900px;
}

.header-logo {
  font-size: 2rem;
  font-weight: bold;
}

.home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 4em 0;
}

.home-content {
  margin-bottom: 3rem;
}

.home-description {
  text-align: center;
  font-size: 1.25rem;
  width: 50%;
  min-width: 300px;
}

.home-steps {
  text-align: center;
  width: 50%;
  min-width: 300px;
  font-size: 1rem;
}
