.App {
  width: 90%;
  margin: auto;
  max-width: 900px;
}

.error {
  color: red
}

/* NAVBAR */
.header {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
}

.header-actions {
  display: flex;
  align-items: center;
}


.header-logo {
  font-size: 2rem;
  font-weight: bold;
}

/* HOME */
.home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 4em 0;
}

.home-content {
  margin-bottom: 3rem;
}

.home-description {
  text-align: center;
  font-size: 1.25rem;
  width: 50%;
  min-width: 300px;
}

.home-steps {
  text-align: center;
  width: 50%;
  min-width: 300px;
  font-size: 1rem;
}

/* AUTH */
.auth {
  text-align: center;
  width: 90%;
  max-width: 400px;
  margin: 5em auto;
}

.auth-error {
  margin: 1em;
}

.auth-alert {
  margin-bottom: 2em;
}